<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(AllProducts)}"/>
    <h4>Добавить товар:</h4>
    <form th:action="@{'/front/products-add-finish'}" method="get">
        <div class="form-group">
            <label>Название</label>
            <input type="text" class="form-control form-control-sm" name="title">
        </div>
        <div class="form-group">
            <label>Цена</label>
            <input type="number" class="form-control form-control-sm" name="price">
        </div>
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
</div>
</body>
</html>