<!doctype html>
<html ng-app="app" ng-controller="booksController">
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="logic.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<h1>Книги:</h1>
<table class="table table-hover" cellpadding="0" cellspacing="0">
    <tr>
        <th>Название</th>
        <th>Жанр</th>
        <th>Цена</th>
        <th>Управление</th>
    </tr>
    <tbody>
    <tr ng-repeat="b in BooksList.content">
        <td>{{b.title}}</td>
        <td>{{b.genre}}</td>
        <td>{{b.price}}</td>
        <td>
            <button type="submit" class="btn btn-primary" ng-click="startEditBook(b.id)">Изменить</button>
            <button type="submit" class="btn btn-danger" ng-click="submitDeleteBook(b.id)">Удалить</button>
        </td>
    </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li ng-repeat="num in [].constructor(BooksList.totalPages) track by $index" class="page-item"><a class="page-link" ng-click="changePage($index+1)">{{$index+1}}</a></li>
    </ul>
</nav>
<a class="btn btn-primary" href="#!/books/add">Добавить книгу</a>
<br>
<br>
<h2>Поиск:</h2>
<form novalidate ng-submit="submitFind()">
    <div class="mb-3">
        <div>
            <label for="newBookTitle" class="form-label">Название</label>
            <input type="text" ng-model="filterAndPagination.filter.title" id="newBookTitle" class="form-control">
        </div>
        <div>
            <label for="newBookGenre" class="form-label">Жанр</label>
            <select class="form-select form-select-lg mb-3" aria-label="Default select example" id = "newBookGenre" ng-model="filterAndPagination.filter.genre">
                <option value="">Все жанры</option>
                <option ng-repeat="genre in GenresList" value="{{genre.value}}">{{genre.name}}</option>
            </select>
        </div>
        <div>
            <label for="newBookPriceFrom" class="form-label">Цена от</label>
            <input type="number" ng-model="filterAndPagination.filter.priceFrom" id="newBookPriceFrom" class="form-control">
        </div>
        <div>
            <label for="newBookPriceTo" class="form-label">Цена до</label>
            <input type="number" ng-model="filterAndPagination.filter.priceTo" id="newBookPriceTo" class="form-control">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Поиск</button>
        </div>
    </div>
</form>
</body>
</html>